<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataManagement" closeTimeout="01:00:00"
                    openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" />
                <binding name="BasicHttpBinding_IDataProvider" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52253/DataManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataManagement"
                contract="DataManagementService.IDataManagement" name="BasicHttpBinding_IDataManagement" />
            <endpoint address="http://localhost:52253/DataProvider.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataProvider" contract="DataProviderService.IDataProvider"
                name="BasicHttpBinding_IDataProvider" />
        </client>
    </system.serviceModel>
</configuration>